<% include header %>
<h2> PAGE UNDER CONSTRUCTION </h2>
<img src="robot1.gif">
<img src="robot2.gif">
<img src="robot3.gif">
<img src="robot4.gif">
<img src="robot5.gif">
<img src="robot6.gif">
<img src="robotdance2.gif">
<img src="robotdance3.gif">
<img src="robotdance4.gif">
<img src="robotdance5.gif">
<img src="robotdance6.gif">
<img src="robotpair.gif">
<img src="robot_and_kitty.gif">
<% include footer %>
