<% include indexheader %>
<h2 class="subheadertext"> PAGE UNDER CONSTRUCTION </h2>
<table class="indexnav">
  <tr>
    <td><a href="/pets"><h2 class="subheadertext">OUR FUZZIEST MINIONS</h2><img src="robot_and_kitty.gif"></a></td>
    <td><a href="/robots"><h2 class="subheadertext">ROBOT DANCE PARTY</h2><img src="robotdance4.gif"></a></td>
  </tr>
</table>
<% include footer %>
