<% include header %>
<h2> PAGE UNDER CONSTRUCTION </h2>
<p><a href="/pets">OUR FUZZIEST MINIONS
  <img src="robot_and_kitty.gif"></a></p>
<p><a href="/robots">ROBOT DANCE PARTY
  <img src="robotdance4.gif"></a></p>
<% include footer %>
