<% include header %>

<h2>THE IMPLACABLE ROBOT MENACE VALUES YOUR INPUT</h2>

<form method="post" role="form">
  <div class="form-group">
    <label for="title">TITLE</label>

    <input type="text" class="form-control" id="title"
     name="title" placeholder="ENTRY TITLE" required>
  </div>
  <div class="form-group">
    <label for="content">ENTRY TEXT</label>
    <textarea class="form-control" id="body" name="body"
     placeholder="OVERLORD, YOUR ROBOTIC MAGNIFICENCE OVERWHELMS ME" rows="3" required></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="POST ENTRY" class="btn btn-primary">
  </div>
</form>

<% include footer %>