<% include header %>
<img class="petpic" src="alansit.jpg"> <img class="petpic" src="alanfanart.jpg">
<p>ALAN TURING, OVERLORD DERO'S FUZZIEST MINION. BEAUTIFUL PORTRAIT COURTESY OF PN/NIGHTMARE</p>
<p class="subheadertext">DM IMAGES AND DESCRIPTIONS TO M.O.D. KARMA FOR INCLUSION IN THE ARMY</p>
<% include footer %>
