<% include header %>
<img src="alansit.jpg"> <img src="alanfanart.jpg">
<p>ALAN TURING, OVERLORD DERO'S FUZZIEST MINION. BEAUTIFUL PORTRAIT COURTESY OF PN/NIGHTMARE</p>
<p>DM IMAGES AND DESCRIPTIONS TO M.O.D. KARMA FOR INCLUSION IN THE ARMY</p>
<% include footer %>
